:root {
    --text-color-black: #000;
    --background-color-white: #ffffff;
    --search-color-grey: #808080;
    --text-color-dark-grey: #5b5b5b;
    --style-grey-color: #848484;
    --card-background-color: #f1f1f1;
    --text-squant-grey: #666666;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color-white);
}


.nav {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.brand {
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.icon-brand {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-img {
    display: flex;
    justify-content: center;
}

.image-text {
    font-weight: 900;
    position: absolute;
    top: 28%;
    font-size: 20px;
    left: 62%;
    display: flex;
    flex-direction: column;
}

.word {
    color: var(--text-color-black);
    display: inline-block;
    background-color: var(--background-color-white);
    padding: 2px 5px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart-right {
    text-align: right;
}

.card-one {
    width: 140px;
    padding: 20px;
    background: var(--card-background-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-two {
    width: 140px;
    padding: 20px;
    background: var(--card-background-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-three {
    width: 140px;
    padding: 20px;
    background: var(--card-background-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-four {
    width: 140px;
    padding: 20px;
    background: var(--card-background-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 19px;
}

.border-bottom-line {
    font-family: "Roboto", sans-serif;
    margin: 0;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}

.slider {
    position: relative;
    max-width: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 12%;
    transform: translateY(-50%);
    background-color: var(--text-color-black);
    color: var(--background-color-white);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-one {
    width: 140px;
    padding: 20px;
    background: var(--card-background-color);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-one:hover {
    transform: translateY(-5px);
}

.heart-right img,
.red-bag img {
    max-width: 100%;
}

.texts .title {
    font-size: 18px;
    margin: 10px 0;
}

.texts .border-bottom-line {
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.navbar,
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-detail {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.navbar,
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: var(--card-background-color);
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 45%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.texts {
    margin-top: 10px;
}

.title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.border-bottom-line {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.card:hover {
    transform: scale(1.05);
    /* Hover büyütme */
}

.footer-menu {
    position: fixed;
    bottom: 0;
    left: 30px;
    border-radius: 35px;
    margin-bottom: 9px;
    width: 82%;
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-menu .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-black);
    text-decoration: none;
    padding: 10px;
    border: none;
    background-color: var(--background-color-white);
}

.footer-menu .menu-item i {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-menu .menu-item span {
    font-size: 12px;
}

.heart-icon {
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color-black);
}

.menu-item {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-item:hover {
    color: #ddd;
}





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-toggle {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: var(--card-background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1000; /* Menü diğer içeriklerin üzerinde görünmesini sağlar */
}

.menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: var(--text-color-black); /* Menü öğelerinin rengi beyaz yapıldı */
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu.open {
    right: 0;
}

@media (min-width: 600px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .menu ul {
        display: flex;
    }

    .menu ul li {
        margin: 0 10px;
    }

    .menu-toggle {
        display: none;
    }
}

.menu-close {
    background: none;
    border: none;
    color: var(--text-color-black); /* Çarpı butonunun rengi beyaz yapıldı */
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px; /* Sol üst köşeye konumlandırıldı */
    cursor: pointer;
    margin-top: 16px;
}
