:root {
    --text-color-black: #000;
    --background-color-white: #ffffff;
    --search-color-grey: #808080;
    --text-color-dark-grey: #5b5b5b;
    --style-grey-color: #848484;
    --card-background-color: #f1f1f1;
    --text-squant-grey: #666666;
    --line-red: #900a0a;
    --hover-red: #7a0000;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    background: var(--background-color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.nav {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.brand {
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.icon-brand {
    display: flex;
    gap: 8px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--line-red);
    /* color: #333; */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background: var(--line-red);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: var(--hover-red);
}


#backIcon {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: var(--line-red);
    cursor: pointer;
}

#backIcon:hover {
    color:  var(--hover-red);
}



